<nav class="top-bar">
  <ul class ="title-area">
    <li class="name">
      <h1> <%= link_to " Tutodo", "#" %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">

      <li class="divider"></li>
      <li ><%= link_to "About","#" %></li>
      <li class="divider"></li>
      <li> <%= link_to "Blog","#" %></li>
      <li class="divider"></li>
      <li> <%= link_to "Sign out", session_delete_path, method: "delete"%></li>

    </ul>

  </section>
</nav>
